<!DOCTYPE html>
<html>
<head>
	<title> Siber Zorba Tespit Motoru </title>
	<link rel = "icon" href =  "../static/stylesheets/Minus100iCo.png" type = "image/x-icon"> 
	<link href="../static/stylesheets/app.css" rel="stylesheet" type="text/css" />

</head>
<body>
	<img src="../static/stylesheets/trdogaldilisleme.jpg" id="M100Logo">
	<p class="center"> <font size="5"> Sınıflandırmak istediğiniz paylaşımı girip entera basın :) </font></p>

	  <form action = "http://localhost:9999/result" method = "POST">
	  	<p class="center">Tweet: <input type="text" name="text" size="50" maxlength="1000"></p>
	     <!-- <p>Tweet:  <input type = "text" name = "text" /></p> -->
	  </form>

</body>
</html>