<!DOCTYPE html>
<html>
 <head>
 	<title> Zorba Tespiti </title>
 	<link rel="stylesheet" type="text/css" href="../static/stylesheets/app.css">
 </head>
 <body>
 	<img src="../static/stylesheets/Minus100.png" id="M100Logo">
 	<p class="center"> Paylaşımın Kategorisi: <strong>{{ bully }}</strong></div>
 	<p class="center"> Bu tahmin doğru mu? </p>
 	<form action="http://localhost:9999/react" method="post" class="center">
 		<button name="reaction" value="Y"> Evet! Baya iyi tahmin :)</button>
 	</form>
 	 <form action="http://localhost:9999/react" method="post" class="center">
 		 <button name="reaction" value="N"> Hayır! Biraz çalışmak gerek :( </button>
 	</form>


 </div>
 </div>
 </body>
</html>